body {
    margin:0;
    display:block;
    height:100%;
}
html { 
    background: url(/pictures/LandingStock.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  @media only screen and (max-width: 600px){
    .main-nav {
        font-size:0.5em;
        padding:0;
    }
}