body {
    margin:0;
    display:block;
    height:100%;
    font-family: 'Montserrat',sans-serif;
}
html { 
    background: url(/pictures/LandingStock.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  @media only screen and (max-width: 600px){
    body {
        padding:0;
        flex-direction: column;
    }
}

.main-head {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
}

.footer {
        background: #1a222c;
        padding: 10px 0;
        margin-top: 100px;
        text-align: center;
        color: #fff;
}